.Rproj.user
.Rhistory
.RData
.Ruserdata
/output/PostCurationAnalysis/52k/phenotype_file_all_carriers_with_gene_and_trait.txt
/output/PostCurationAnalysis/52k/phenotype_file_all_carriers_with_gene_and_trait_most_confident.txt
